<h3>Check The Weather</h3>

<form action="" method="post" name="weatherForm">
	<lable for="location">Enter a UK City</lable>
	<input id="location" name="location"type="text" max-lenth="35" value="" />
	<input type="submit" value="Check my Luck" />
</form>
<br>
<table class="table">
	<thead>
		<th>Provider Name</th>
		<th>Today's High</th>
		<th>Today's Low</th>
		<th>Summary</th>
	</thead>
	<tr>
		<td>{{ number }}</td>
		<td>{{ number }}</td>
		<td>{{ number }}</td>
		<td>{{ number }}</td>
	</tr>
</table>