<h3>Check The Weather</h3>

<lable for="city">Enter a UK City</lable>
<input name="city"type="text" max-lenth="35" />
<input type="submit" value="Check my Luck" />
<br></br>
<table class="table">
	<thead>
		<th>Provider Name</th>
		<th>Today's High</th>
		<th>Today's Low</th>
		<th>Summary</th>
	</thead>
	<tr>
		<td>{{ number }}</td>
		<td>{{ number }}</td>
		<td>{{ number }}</td>
		<td>{{ number }}</td>
	</tr>
</table>